    imgdrag {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
    
    .br-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    
    ia (min-width: 768px) {
        placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    
    box-sizing: border-box;
}

/* Create two equal columns that sits next to each other */

/* Style the buttons */
e {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}
e:hover {
    background-color: #ddd;
}
e.activee {
    background-color: #666;
    color: white;
}

/* Make the image fully responsive */
ousel-inner img {
    width: 100%;
    height: 100%;
}

/* Borders */
{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    background-color: #555;
}
n.container {
    margin-top: 7em;
}
eframe {
    margin-top: 2em;
}
footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
box-sizing: border-box;

}

/* Add padding BETWEEN each column */

/* Create three equal columns that floats next to each other */
umn {
    float: left;
    width: 100%;
    display: none;
    /* Hide all elements by default */
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Avatar */
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
body {
    background-color: #FFFFFF;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.maindrag.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

/* Avatar */
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.maindrag.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}
.bodyscroll {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.mainscroll {
    max-width: 1000px;
    margin: auto;
}
.rowscroll {
    margin: 10px -16px;
}

/* Add padding BETWEEN each columnscroll */
.rowscroll,
scroll.columnscroll {
    padding: 8px;
}

/* Create three equal columnscrolls that floats next to each other */
umnscroll {
    float: left;
    width: 50%;
    display: none;
    /* Hide all elements by default */
}

/* Clear floats after rowscrolls */
scroll:after {
    contentscroll: "";
    display: table;
    clear: both;
}

/* contentscroll */
.contentscroll {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.showscroll {
    display: block;
}
.rowe {
    display: -ms-flexbox;
    /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
umne {
    -ms-flex: 50%;
    /* IE 10 */
    flex: 50%;
    padding: 0 4px;
}
.columne img {
    margin-top: 8px;
    vertical-align: middle;
}

/* ico bar */
.icon-bar {
    width: 100%;
    background-color: #ffffff;
    overflow: auto position: fixed;
    font-size: 20pt;
}
n-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 6px 0;
    transition: all 0.3s ease;
    color: #bfbfbf;
    background-color: #ffffff;
}
terx {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
    font-size: 20pt;
}
vatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
ody {
    margin: 0;
    font-family: Roboto,
    Arial,
    Helvetica,
    sans-serif;
    background-color: #FFFFFF;
}
eader {
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100%;
    background-color: #f1f1f1;
}
eader h2 {
    text-align: center;
}
rogress-container {
    width: 100%;
    height: 8px;
    background: #ffe6e6;
}
rogress-bar {
    height: 8px;
    background: #cc0000;
    width: 0%;
}
.hicontent {
    padding: 1px 0;
    margin: 1px auto 0 auto;
    width: 100%;
}
.hisidenav {
    height: 100%;
    width: 45px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
}
.hisidenav a {
    padding: 6px 8px 3px 8px;
    text-decoration: none;
    color: #818181;
    display: block;
}
.hisidenav a:hover {
    color: #f1f1f1;
}
.himain {
    margin-left: 55px;
    /* Same as the width of the sidenav*/
    /* Increased text to enable scrolling */
    padding: 0px 0px;
}
@media screen and (max-height: 500px) {
    .hisidenav {
        padding-top: 5px;
    }