.footerx {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

/ dark style original code .icon-bar {
    width: 100%;
    background-color: #ffffff;
    overflow: auto position: fixed;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 6px 0;
    transition: all 0.3s ease;
    color: #bfbfbf;
    font-size: 28px;
    background-color: #ffffff;
}